.child-1{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}




.shop-product{
  padding: 12px 38px;
  background: #212529;
  color: #FFFFFF;
width: 200px;
}


